DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
SESSION_SECRET="your-secret-key-min-32-chars"
PROVIDER_API_URL="https://boostprovider.com/api/v2"
PROVIDER_API_KEY="your-api-key"
NEXT_PUBLIC_SITE_NAME="HATM"
NODE_ENV="production"
